
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
    font-family: "Roboto", serif;
}
h1 {
    font-size: 90px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.header {
    margin: 0px;
    padding: 0px;
}
.header-bg {
    background-color: #1E3A8A;
    width: 100%;
}
.header-titulo{ 
    font-size: 60px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.search{
    display: flex;
    align-items: center;
    border: 1px solid#ccc;
    background-color: #00000006;
    width: 400px;
    margin: 20px auto;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;

}
#searchInput{
    padding: 8px;
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    color: white;

}
.search label {
    height: 20px;
    
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
    width: 300px;
    background-color: #ffffff;
    border: 1px solid#e0e0e0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}



@media (max-width:1000px ){
    h1 {font-size: 50px;}
    .header-menu a {
        font-size: 25px;
    }

}

.main-titulo {
    font-size: 50px;
    color: #374151;
    text-align: center;
    text-transform: uppercase;
    
}

.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto; 
    align-items: center;
   }
   .checklist-link {
    list-style: none;
    text-decoration: none;
   }

.checklist {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    gap: 50px 10px;
    justify-items: center;
    

}

.checklist-box {
    background-color: #ffffff;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    line-height: 30px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    
    
}
.checklist-box:hover {
    transform: scale(1.1);
}



.checklist-color{
    width:300px; 
    height: 50px;
    border-radius: 10px 10px 0px 0px; 
    background-color: #E63946; /* Vermelho */
    }

.checklist-titulo{
    text-align: center;
    font-size: 22px;
    color: #374151;
    text-transform: uppercase;

}   

.checklist-menu{
    color: #374151;
    list-style: none;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    margin-right: 40px;
    padding-bottom: 20px;
}
@media (max-width:1250px) {

    .checklist {
     grid-template-columns: 9fr 9fr;
     justify-items: center;
     
    }
    .main-titulo {
        font-size: 40px;
    }
}

@media (max-width:730px) {

    .checklist {
     grid-template-columns: 1fr;
     justify-items: center;
    }
    .header-titulo {
        font-size: 50px;
    }
    .main-titulo {
        font-size: 30px;
    }
    .checklist-box {
        
        width: 300px;
        height: 200px;
        
        
  
    }
    .checklist-color{
        width:300px; 
        height: 50px;
       
        }
        .checklist-titulo{
            text-align: center;
            
        
        }
        .checklist-menu{
            
            line-height: 30px;
        }
}
@media (max-width:450px) {

    .checklist {
     grid-template-columns: 1fr;
     justify-items: center;
    }
    .header-titulo {
        font-size: 50px;
    }
    .main-titulo {
        font-size: 30px;
    }
    .checklist-box {
        
        width: 250px;
        height: 170px;
        
        
  
    }
    .checklist-color{
        width:250px; 
        height: 50px;
       
        }
        .checklist-titulo{
            text-align: center;
            
        
        }
        .checklist-menu{
            
            line-height: 25px;
        }
        .search{
            
            width: 300px;
            margin-bottom: 30px;
            
        }
}

.footer {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

/* Responsividade */
@media (max-width: 600px) {
    .footer {
        font-size: 12px;
        padding: 12px 8px;
    }
}